<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books Library</title>
    <link rel="stylesheet" href="/style.css" />
    
  </head>
  <body>
    <div class="navbar">
      <a href="/addbook">Add Book</a>
      <a href="/booklist">View Books</a>
      <a href="/addlibrary">Add New Library</a>
      <a href="/liblist">View Libraries</a>
    </div>
    <div class="main">
  
  
    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">LOGOUT</button>
    </form>
    </div>
  </body>
</html>
